# Convert a list of dataframes to one dataframe
This notebook converts a list of dataframes to one dataframe containing all time series.

In [4]:
#import neccessary modules
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# helper functions
from timeseries_helpers import datasetstorer
from timeseries_helpers import dataset_importer
from timeseries_helpers import database_importer
from timeseries_helpers import standardizer

In [7]:
# plotting functions
from timeseries_helpers import timeseries_plotter

## Load the normalized list of datasets

In [9]:
ds = dataset_importer.csv_to_dataset_list(r"../../Datasets/Normalized/complete_smartpunch_dataset_periodMS2000_sampleUS1000.csv",2001)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15219606 entries, 0 to 15219605
Data columns (total 7 columns):
x            float64
y            float64
z            float64
timestamp    int64
label        int64
hand         int64
annotator    int64
dtypes: float64(3), int64(4)
memory usage: 812.8 MB
Data imported without any errors!
 ##### Information: ####
 Imported datasets: 7606

In [10]:
len(ds)

7606

In [11]:
# converts the given list of dataframes to one dataframe
df_list = []
for idx,e in enumerate(ds):
    df = e.assign(punch_id=idx)
    df_list.append(df)
df_res = pd.concat(df_list)
df_new = df_res.reset_index(drop=True)
df_new = df_new.rename(index=str, columns={"x": "a_x", "y": "a_y", "z":"a_z"})

In [12]:
len(df_new)

15219606

In [13]:
#import winsound
#winsound.PlaySound("SystemExit", winsound.SND_ALIAS + winsound.SND_ASYNC +winsound.SND_LOOP)

In [14]:
#winsound.PlaySound(None, winsound.SND_PURGE)

In [15]:
df_new.head(10)

        a_x       a_y       a_z  timestamp  label  hand  annotator  punch_id
0  6.793223 -2.383251  2.962314          0      1     0          0         0
1  6.689702 -2.651278  3.180722       1000      1     0          0         0
2  6.601798 -2.871387  3.359523       2000      1     0          0         0
3  6.528319 -3.047522  3.502029       3000      1     0          0         0
4  6.468075 -3.183627  3.611550       4000      1     0          0         0
5  6.419871 -3.283644  3.691398       5000      1     0          0         0
6  6.382516 -3.351516  3.744882       6000      1     0          0         0
7  6.354819 -3.391187  3.775314       7000      1     0          0         0
8  6.335585 -3.406601  3.786005       8000      1     0          0         0
9  6.323624 -3.401699  3.780265       9000      1     0          0         0

In [17]:
df_new.to_csv(r'../../Datasets/complete_smartpunch_dataset_AsOneDataFrame_periodMS2000_sampleUS1000.csv')